In [1]:
# SQLLite database created online https://sqliteonline.com and then exported to the same folder

In [2]:
pip install db-sqlite3

Requirement already satisfied: db-sqlite3 in /opt/anaconda3/lib/python3.7/site-packages (0.0.1)
Requirement already satisfied: db in /opt/anaconda3/lib/python3.7/site-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /opt/anaconda3/lib/python3.7/site-packages (from db->db-sqlite3) (1.2.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import sqlite3 as sql
from sqlite3 import Error
def create_connection():
    conn= None
    try:
#        database = "sqlite.db"
        database = "Test.db"
        conn = sql.connect(database)
        
        sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS scores (
                                        firstname text,
                                        secondname text,
                                        score  integer
                                    ); """
        if conn is not None:
        # create projects table
            c = conn.cursor()
            c.execute(sql_create_projects_table)
        else:
            print("Error! cannot create the database connection.")
    except Error as e:
        print(e)
    return conn

In [4]:
Y = create_connection()
print(Y)

<sqlite3.Connection object at 0x10cd713b0>

In [5]:
def create_tasking(conn, task):
 
    sql = ''' INSERT INTO scores(firstname,secondname,score)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql,task)
    return cur.lastrowid

In [6]:
# Creating a Table of Authorised Users
import sqlite3 as sql
from sqlite3 import Error
def create_connection():
    conn= None
    try:
#        database = "sqlite.db"
        database = "Test.db"
        conn = sql.connect(database)
        
        sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS Authorised_Users (
                                        firstname text,
                                        secondname text
                                    ); """
        if conn is not None:
        # create projects table
            c = conn.cursor()
            c.execute(sql_create_projects_table)
        else:
            print("Error! cannot create the database connection.")
    except Error as e:
        print(e)
    return conn

In [7]:
Y = create_connection()
print(Y)

<sqlite3.Connection object at 0x10cd71490>

In [8]:
def create_task(conn, task):
 
    sql = ''' INSERT INTO Authorised_Users(firstname,secondname)
              VALUES(?,?) '''
    cur = conn.cursor()
    cur.execute(sql,task)
    return cur.lastrowid

In [9]:
# Inserting Authorised Users into the Table 
task = ('Charles','Babbage')
create_task(Y,task)
task = ('William','Shakespheare')
create_task(Y,task)
task = ('Ada','Lovelace')
create_task(Y,task)

3

In [68]:
# Only Allowing Authorised Users
# Entry for 1st Players
def Player_Entry_1(conn):
        Active = True
        while Active== True:
            Firstname = input("Enter Firstname ")
            Secondname = input("Enter Secondname ")
            SQL_Statement = "SELECT * FROM Authorised_Users WHERE Firstname = " + '"'+Firstname+'"'+ "AND Secondname = "+'"'+Secondname+'"'
            cur = conn.cursor()
            cur.execute(SQL_Statement)
            rows = cur.fetchall()
            Number_of_rows = len(rows)
            if Number_of_rows == 1:
                Active=False
            else:
                print("Invalid Player. Try again")
    
    
        print("You have entered Player 1 details")
        return(Firstname,Secondname)

In [69]:
Player1_Firstname, Player1_Secondname = Player_Entry_1(Y)
print(Player1_Firstname)
print(Player1_Secondname)

Enter Firstname  Ada
Enter Secondname  Lovelace

You have entered Player 1 details
Ada
Lovelace

In [70]:
# Only Allowing Authorised Users
# Entry for 2nd Player
def Player_Entry_2(conn, F1, S1):
        Active = True
        while Active== True:
            Firstname = input("Enter Firstname ")
            Secondname = input("Enter Secondname ")
            SQL_Statement_1 = "SELECT * FROM Authorised_Users WHERE Firstname = " 
            SQL_Statement_2 = '"'+Firstname+'"'+ " AND Secondname = "+'"'+Secondname+'"'
            SQL_Statement_3 = " AND Firstname != " + '"'+F1+'"' 
            SQL_Statement_4 = " AND Secondname != " + '"'+S1+'"'
        
            
            SQL_Statement = SQL_Statement_1 + SQL_Statement_2 + SQL_Statement_3 +SQL_Statement_4
            
            print(SQL_Statement)
            cur = conn.cursor()
            cur.execute(SQL_Statement)
            rows = cur.fetchall()
            Number_of_rows = len(rows)
            if Number_of_rows == 1:
                Active=False
            else:
                print("Invalid Player - either Name taken or Non-Existent. Try again")
    
    
        print("You have entered Player 2 details")
        return(Firstname,Secondname)

In [71]:
Player2_Firstname, Player2_Secondname = Player_Entry_2(Y, Player1_Firstname,Player1_Secondname)
print(Player2_Firstname)
print(Player2_Secondname)

Enter Firstname  Charles
Enter Secondname  Babbage

SELECT * FROM Authorised_Users WHERE Firstname = "Charles" AND Secondname = "Babbage" AND Firstname != "Ada" AND Secondname != "Lovelace"
You have entered Player 2 details
Charles
Babbage

In [72]:
def Display_Winner(Firstname, Secondname, Score):
    print("Winner of this Game is ", Firstname," ",Secondname," ",Score)
    task = (Firstname,Secondname,Score)
    create_tasking(Y,task)

In [73]:
import random
def Rolling_Dice():
    Players_Scores = []
    for Players in range(2): 
        Sum = 0
        for Round in range(5):
            Dice1 = random.randint(1,6)
            Dice2 = random.randint(1,6)
            Total = Dice1 + Dice2
        
        
        
            if Total%2 == 0:              # Even Number, than add 10 Points
                Total = Total + 10
            else:
                Total = Total - 5           # Odd number, subtract 5 Points
        
        
            if Dice1 == Dice2:
                Dice3 = random.randint(1,6)
                Total = Total + Dice3
        
            Sum = Sum + Total
            if Sum < 0:
                Sum = 0
                
        Players_Scores.append(Sum)
        
    print(Players_Scores)
    
    if Players_Scores[0] == Players_Scores[1]:
        Who_wins = RollingAgain()
        print("Player ", Who_wins)
    elif Players_Scores[0] > Players_Scores[1]:
        Who_wins = "Player1_Wins"
    else:
        Who_wins = "Player2_Wins"
    
    
    if Who_wins == "Player1_Wins":
        Display_Winner(Player1_Firstname, Player1_Secondname,Sum)
    else:
        Display_Winner(Player2_Firstname,Player2_Secondname,Sum)

In [74]:
Rolling_Dice()

[80, 60]
Winner of this Game is  Ada   Lovelace   60

In [75]:
import random
def RollingAgain():
    Active = True
    while Active == True:
        Player1_Roll = random.randint(1,6)
        Player2_Roll = random.randint(1,6)
        if Player1_Roll != Player2_Roll:
            Active = False
    
    if Player1_Roll > Player2_Roll:
        return("Player1_Wins")
    else:
        return("Player2_Wins")

In [76]:
def select_all_tasks(conn):
    cur = conn.cursor()
    cur.execute("SELECT * FROM scores ORDER BY score desc limit 5")
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [77]:
select_all_tasks(Y)

('William', 'Shakespheare', 85)
('Ada', 'Lovelace', 60)
('William', 'Shakespheare', 59)
('Charles', 'Babbage', 47)
('Ada', 'Shakespheare', 28)